:root {
  --primary-color: #015C7F/*#1d7777*/;
  --primary-color: #019AD4;
  --secondary-color: #fdbb41/*#FFB600#ebe39d*/;
  --selection-dimensions: 125px;
  --icon-size: calc(var(--selection-dimensions) * 0.75);
  --arrow-size: 60px;
  --arrow-tip-width: calc(var(--arrow-size) * 1.75);
  --arrow-tip-sides: calc(var(--arrow-tip-width) * 1.15);
  --primary-font-color: white;
  --secondary-font-color: #222;
  --border-color: #444;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--secondary-font-color);
}

.top-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
div.header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}

.titles {
  margin-top: 10px;
}

.titles > h1 {
  margin: 0;
  text-align: center;
}

.titles > p {
  margin: 0;
  text-align: left;
  font-style: italic;
}
.beer {
  height: 100px;
  transform: rotate(-15deg);
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
.rules {
  color: var(--secondary-font-color);
}

.rules > h2 {
  text-align: center;
}

.rules ul {
  line-height: 2em;
}
#play-below {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#play-below > p {
  font-weight: bold;
}
.arrow {
  font-size: 2.75em;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  20% {
    transform: translateY(10px);
  }
}
.arrow-body {
  margin: 0 auto;
  padding: 0;
  width: var(--arrow-body-width);
  height: 75px;
  background-color: var(--secondary-color);
}

.arrow-up {
  width: 0;
  height: 0;
  border-bottom: var(--arrow-tip-width) solid var(--secondary-color);
  border-left: var(--arrow-tip-width) solid transparent;
  border-right: var(--arrow-tip-width) solid transparent;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: var(--arrow-tip-width) solid var(--secondary-color);
  border-left: var(--arrow-tip-sides) solid transparent;
  border-right: var(--arrow-tip-sides) solid transparent;
}


section.game {
  height: 100vh;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  background-color: var(--secondary-color);
}

.scoreboard {
  padding: 20px;
  width: 50%;
  max-width: 450px;
  border: 7px solid var(--border-color);
  border-radius: 5px;
  background-color: #eee;
}

.scoreboard > h2 {
  padding: 0 0 10px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.scoreboard > .scores {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.individual-score {
  margin: 0;
}
.score-title {
  margin-top: 0;
}
.round {
  font-weight: bold;
}

.win-lose {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  animation-name: drunk;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes drunk {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  outline: none;
  border: 5px solid var(--border-color);
  color: var(--border-color);
}

.user-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection i {
  font-size: var(--icon-size);
}

button.selection:hover, button.selection:focus {
  box-shadow: 0px 0px 20px black;
}

button.selection:hover {
  color: var(--primary-color);
}

button.selection:active {
  color: var(--primary-color);
}

.user-selection p {
  text-align: center;
  color: var(--secondary-font-color);
}

button.selection {
  width: var(--selection-dimensions);
  height: var(--selection-dimensions);
  background-color: #eee;
  cursor: pointer;
  border-radius: 25%;
  transition: 0.1s all;
  color: var(--border-color);
}

.computer-selection {
  width: var(--selection-dimensions);
  height: var(--selection-dimensions);
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

button.selection:active:focus, button.selection:active {
  transform: scale(1.1);
  background-color: black;
  color: var(--primary-color);
}

button.reset {
  width: 125px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  background-color: white;
  transition: 0.07s;
}
button.reset:active {
  border-width: 3px;
}

svg {
  height: 75%;
}
footer {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
footer > a {
  margin: 15px;
  color: #eee;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
footer > a:hover {
  color: var(--primary-color);
}
div.rules li {
  list-style: square;
}
div#placeholder {
  height: 25px;
}

@media (max-width: 1000px) {
  :root {
    --selection-dimensions: 100px;
  }
}
@media (max-width: 850px) {
  :root {
    --selection-dimensions: 100px;
  }
  body {
    font-size: 14px;
  }
  section.game {
    padding: 0;
    align-items: flex-start;
  }
  .scoreboard {
    padding: 25px;
    padding-bottom: 0;
    max-width: 100%;
    width: 100%;
    min-height: 300px;
    border-radius: 0px;
    border: 5px double black;
  }
}
@media (max-width: 475px) {
  :root {
    --selection-dimensions: 100px;
  }
  .selection {
    border-width: 5px;
  }
  #placeholder {
    height: 10px;
  }
}
@media (max-width: 390px) {
  :root {
    --selection-dimensions: 75px; 
  }
  .scoreboard {
    min-height: 250px;
    padding-bottom: 5px;
    font-size: 12px;
  }
/*
  .scoreboard > h2 {
    font-size: 1em;
  }
  .scoreboard h3 {
    font-size: 0.8em;
  }
  .scoreboard {
    font-size: 0.7em;
  }/*
}
